.container {
    position: relative;

    display: flex;
    flex-direction: column;

    height: 100%;
    min-width: 200px;
    width: 200px;

    border-radius: 6px;
    border: 1px solid var(--color-privatespace-border);

    background-color: var(--color-privatespace-bg);

    overflow: hidden;
    box-sizing: border-box;
    isolation: isolate;
}
.container:hover {
    cursor: pointer;
}

.header {
    display: flex;
    flex-direction: column;

    padding: 5px 11px 5px 9px;
}

.title {
    display: flex;

    height: 100%;
    width: 100%;

    align-items: flex-start;

    font-size: 1.2rem;
    font-weight: 600;
    color: var(--foreground);
}

.info {
    display: flex;
}

.infoLabel {
    font-size: 0.8rem;
    font-weight: 400;
    color: color-mix(in srgb, var(--foreground) 65%, transparent);

    padding-right: 5px;
}

.infoValue {
    display: flex;
    width: 100%;

    font-size: 0.8rem;
    font-weight: 600;

    align-items: flex-start;

    color: var(--foreground);
}

.body {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    margin-top: 5px;
    justify-content: center;
    align-items: center;

    font-size: 0.8rem;
    font-weight: 400;

    color: var(--foreground);

    z-index: 200;

    transform: translateY(-8.5px);
}







.featureBox {
    position: absolute;
    left: 0;
    bottom: -80px;

    display: flex;
    gap: 1px;

    height: 80px;
    width: 100%;

    border-radius: 0 0 6px 6px;
    background-color: rgba(128, 128, 128, 0.15);

    transition: bottom 0.25s ease;

    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);

    z-index: 201;
}
.container:hover .featureBox {
    bottom: 0;
}

.item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    gap: 5px;
    justify-content: center;
    align-items: center;

    background: rgba(255, 255, 255, 0.1);
}
.item:hover {
    background: linear-gradient(135deg, rgba(36, 122, 161, 0.7) 0%, rgba(52, 143, 155, 0.7) 100%);
}

.itemLabel {
    display: flex;
    height: 25px;

    align-items: flex-start;

    font-size: 0.85rem;
    font-weight: 600;
    color: var(--foreground);
}

.itemIcon {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    stroke-width: 2.2px;
}
.itemIcon svg {
    height: 40px;
    width: 40px;
}
.itemIcon svg path {
    stroke: none;
    fill: var(--icon-color);
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;

    color: var(--icon-color);
}