

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    padding-top: 20px;
    gap: 15px;
    color: var(--foreground);
    
    user-select: none;
    -webkit-user-select: none;
}

.empty {
    display: flex;
    
    width: 100%;

    margin-top: 10px;
    padding: 7px 10px;

    align-content: center;

    border-radius: 10px;
    border: 1px solid rgba(255, 1, 1, 0.45);

    background-color: rgba(255, 1, 1, 0.25);
    color: var(--foreground);

    opacity: 0.8;
    box-sizing: border-box;
}

.addCard {
    display: flex;
    flex-direction: column;

    height: 170px;

    gap: 10px;
    padding: 10px;

    align-items: center;
    justify-content: center;

    border-color: rgba(100,100,200,0.3);
    background-color: rgba(200,200,200,0.1);
    border: 2px solid rgba(100,100,200,0.3);
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.9;
}
.addCard:hover {
    border-color: var(--color-highlight);
    color: var(--color-highlight);
}
.addCard:hover .item-icon {
    color: var(--color-highlight);
}

.item-icon {
    width: 100px;
    font-size: 2rem;
    color: white;
}