.container {
    position: fixed;
    padding: 2px 0;
    transform: translateY(0px);

    background-color: var(--color-actions);
    border: 2px solid var(--color-purple-dark);
    border-radius: 6px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.12);

    z-index: 300;
    pointer-events: auto;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 0 2px;
}


.container[data-space="private"] [data-role="dropdown-trigger"] {
    background-color: var(--color-purple-dark);
    color: var(--color-infoText-light);
    border: 1px solid green;
}

.container[data-space="workspace"] [data-role="dropdown-trigger"] {
    background-color: var(--color-highlight);
    color: var(--color-infoText-dark);
    border: 1px solid red;
}