.container{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.heading-big {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 10px;

  font-family: var(--font-borel), sans-serif;
  font-size: 4.5rem;
  text-align: center;
  color: var(--color-creamWhite);
  letter-spacing: 0.02em;
  line-height: 1;

  /* hard + soft glow */
  text-shadow:
    0 0 2px rgba(255,255,255,0.6),
    0 0 14px rgba(255, 162, 40, 0.6),
    0 0 50px rgba(255, 162, 40, 0.25);
}

/* Soft top light source */
.heading-big::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -60px;                 /* moved further down */
  width: 900px;               /* wide spread */
  height: 420px;
  transform: translate(-50%, -50% );
  z-index: -1;
  pointer-events: none;

  /* central light dome */
  background: radial-gradient(
    ellipse at 50% 80%,       /* center slightly below the top edge */
    rgba(255, 162, 40, 0.808) 5%,
    rgba(255, 162, 40, 0.5) 10%,
    rgba(255, 162, 40, 0.2) 30%,
    rgba(255, 162, 40, 0.2) 50%,
    rgba(255, 162, 40, 0.1) 70%,
    rgba(255, 162, 40, 0.0) 85%
  );

  filter: blur(60px);
  opacity: 0.3;
}



.heading-small {
  font-family: 'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;
  font-size: 1.3rem;
  text-align:center;
  letter-spacing: 0.05em;
  font-weight: thin;
  color: var(--color-creamWhite);
}